<!-- This is the boilerplate template page. -->
<!-- <html>
  <head>
    <title>This is EJS</title>
  </head>
  <body>
    <h1><%= welcomeText %></h1>
    <h2>The time is <%= new Date() %></h2>
    <h3><%= name %></h3>
  </body>
</html> -->
